.calculator-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calculator-btn-grid{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 12px;
    row-gap: 12px;
}

.calculator-btn-grid .btn-dark{
    height: auto;
    font-size: 1rem;
}

.calculator-btn-grid .btn-std{
    height: auto;
    font-size: 1rem;
}

.calculator-input{
    width: 100%;
    height: 2.75rem;
    text-align: end;
    background-color: transparent;
    font-size: 2rem;
    padding: 0 0 0 0;
    border: none; 
    color: white;
    font-weight: 400;
}