/* ----------------------------*/
/* ---------- GLOBAL ----------*/
/* ----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: var(--gray-950);
    font-family: 'Inter';
}

/* --------------------------------*/
/* ---------- CONTAINERS ----------*/
/* --------------------------------*/

.main-container{
    max-width: 1440px;
    margin: 120px auto 120px auto;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.widget-wrapper{
    display: flex;
    height: 540px;
    background-color: var(--gray-950);
    flex-direction: column;
    justify-content: flex-start;
    border: solid 1px var(--gray-700);
    flex-wrap: nowrap;
}

.heading-wrapper{
    padding: var(--widget-padding);
    border-bottom: solid 1px var(--gray-700);
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    padding: var(--widget-padding);
    height: 100%;
}

.input-wrapper{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    column-gap: 12px;
    margin: 0 0 var(--widget-padding) 0;
}

.div-test{
    background-color: brown;
    height: 100%;
}

/* ----------------------------*/
/* ---------- FIELDS ----------*/
/* ----------------------------*/

.input-std{
    width: 100%;
    height: 2.75rem;
    background-color: var(--gray-900);
    padding: 0 1rem 0 1rem;
    border: solid 1px var(--gray-600); 
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.input-std::placeholder{
    color: var(--gray-600);
    font-size: 1rem;
    font-weight: 400;
}

.input-std:hover{
border: solid 1px var(--violet-500); 
}


.input-std:focus{
    border: solid 1px var(--violet-500); 
}

/* -----------------------------*/
/* ---------- BUTTONS ----------*/
/* -----------------------------*/

.btn-std{
    height: 2.75rem;
    background-color: var(--violet-600);
    color: white;
    padding: 0 1.5rem 0 1.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
}

.btn-border{
    height: 2.75rem;
    background-color: transparent;
    border: solid 1px var(--violet-600);
    color: white;
}

.btn-std.search-btn{
    display: flex;
    flex-direction: row;
    width: 2.75rem;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    flex-shrink: 0;
}

.btn-std:hover{
    background-color: var(--violet-500);
}

.btn-underlined{
    color: var(--violet-600);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
    background-color: transparent;
}

/* ---------------------------*/
/* ---------- TEXTS ----------*/
/* ---------------------------*/

h2{
    color: white;
    font-size: 2rem;
    line-height: 2rem;
}

/* ---------------------------*/
/* ---------- ICONS ----------*/
/* ---------------------------*/

.hero-icon{
    width: 1.5rem;
    height: 1.5rem;
    color: 	white;
}
