.quiz-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.answers-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: var(--widget-padding);;
}

.final-score{
    display: none;
    color: white;
}

.question-text{
    font-size: 1rem;
    color: var(--gray-100);
    line-height: 1.25rem;
}

.answer-btn{
    text-align: left;
    padding: 0 1rem 0 1rem;
    background-color: var(--gray-950);
    border: 1px solid var(--gray-600)
}

.btn-std.answer-btn:hover:disabled{
    background-color: var(--gray-950);
    border-color: var(--gray-600);
}

.btn-std.answer-btn:hover:not(disabled){
    background-color: var(--gray-950);
    border-color: var(--violet-500);
}

.btn-std.answer-btn:disabled{
    cursor: no-drop;
}

#answers-wrapper-id .correct-status{
    background-color: var(--lime-950);
    border-color: var(--lime-400);
}

#answers-wrapper-id .incorrect-status{
    background-color: var(--red-950);
    border-color: var(--red-400);

}
.quiz-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2.75rem;
}

.question-progression{
    color: var(--gray-500);
    font-size: 1rem;
    line-height: 1.25rem;
}

