.weather-info-wrapper {
	display: none;
	flex-direction: row;
	height: 100%;
}

/*------------------------*/
/*----- LEFT WRAPPER -----*/
/*------------------------*/

.left-weather-split {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: flex-start;
	justify-content: space-between;
	width: 50%;
	flex: 1;
	border-right: solid 1px var(--gray-700);
	padding: 0 var(--widget-padding) 0 0;
}

.weather-icon {
	max-width: 160px;
	max-height: 160px;
	flex: 1 1 0;
	margin-left: -8px;
}

.weather-city {
	font-size: 32px;
    line-height: 40px;
	font-weight: 600;
    margin-top: var(--widget-padding);
}

/*-------------------------*/
/*----- RIGHT WRAPPER -----*/
/*-------------------------*/

.right-weather-split {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0 0 0 var(--widget-padding);
}

.temperature-value {
	color: var(--gray-100);
	font-size: 32px;
	font-weight: 800;
}

.weather-data-wrapper {
	display: flex;
	flex-direction: column;
	align-items: start;
	row-gap: 4px;
}

.weather-label-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 32px;
	justify-content: start;
	column-gap: 4px;
}

.humidity-label {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 4px;
	color: var(--gray-500);
	height: 12px;
}

.humidity-value {
	font-size: 20px;
	font-weight: 700;
	color: var(--gray-300);
}

.wind-label {
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 4px;
	color: var(--gray-500);
}

.wind-value {
	font-size: 20px;
	font-weight: 700;
	color: var(--gray-300);
}
