.weather-info-wrapper {
    display:flex; /* TODO: revert do display none */
    flex-direction: row;
}

.City-InputField {
    border: 0;
    outline: 0;
    background: #fff;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 12px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

/* TEMPERATURE -------------------- */

.Weather-Icon {
    width: 160px;
    margin-top: 30px;
}

.Temperature-H1 {
    font-size: 60px;
    font-weight: 800;
}

.City-H2 {
    font-size: 24px;
    font-weight: 400;
    margin: -10px 0 0 0;
}

/* DETAILS -------------------- */

.left-weather-split{
    display: flex;
    flex-direction: column;
    justify-content: left;  
    width: 40%;
    flex: 1;
    align-items: stretch;
}

.right-weather-split{
    display: flex;
    flex-direction: column;
    justify-content: left;
}



.DataColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 120px;
}

.Wind-Image{
    width: 40px;
    margin: 0 0 16px 0;
}

.Humidity-Image{
    width: 40px;
    margin: 4px 0 12px 0;
}

.Humidity-Label{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px;
}

.Humidity-Value{
    font-size: 26px;
    font-weight: 700;
}

.Wind-Label{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 4px;
}

.Wind-Value{
    font-size: 26px;
    font-weight: 700;
}




